// Only works for number type
function identity(arg: number): number {
    return arg;
}
// Works for any type but we lose type information
function identity(arg: any): any {
    return arg;
}
// Works for any type and preserves type information
function identity<T>(arg: T): T {
    return arg;
}

// type of output will be 'string'
let output = identity<string>("myString");
// type of output will be 'string'
let output = identity("myString");
